@media (max-width: 575px) {
    nav{
        .navbar-brand{
            img{max-width: 100px;}
        }
        .navbar-toggler{cursor: pointer;}
        .navbar-nav{
            margin-top: 1rem;
            li{
                margin: 0 !important;
                width: 100%;
                .btn{  
                    border-radius: 0;
                    padding: .5rem 1.5rem;
                    display: block;
                    &:first-child{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }

    header{
        .mask{
            padding: 4rem 0 5rem 0;
        }
        .btn{
            margin-right: 0 !important;
            margin-bottom: 10px;
            display: block;
        }
    }

    .block{
        padding: 4rem 0 !important;
    }

    section#get-started{
        background-size: cover;
    }

    #product-how{
        .card{
            margin-bottom: 30px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    #example-ads{
        &.ads .carousel{
            .indicators{
                display: block;
                border: none;
                a{
                    display: block;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 20px;
                    padding: 0;
                    background-color: transparent;
                    span{
                        display: inline-block;
                        margin-right: 20px;
                        &:first-child{font-weight: 700;}
                    }
                    &:hover,&.active{background-color: transparent;color: #54585A;}
                }
            }
            .inner{display: none;}
        }
        &.join .carousel{
            .indicators{
                border: none;
                a{
                    padding: 0;
                    background-color: transparent;
                    span{
                        display: inline-block;
                    }
                    &:hover,&.active{background-color: transparent;color: #54585A;}
                }
            }
        }
    }

    footer{
        .menu-item{
            margin-top:20px;
        }
        .copyright{
            text-align: center !important;
            span{display: block;margin-right: 0 !important;}
        }
        .social-links{
            margin-top: 20px !important;
            text-align: center !important;
        }
    }
}