@media (min-width: 576px) and (max-width: 767px) {
    nav{
        .navbar-brand{
            img{max-width: 100px;}
        }
        .navbar-toggler{cursor: pointer;}
        .navbar-nav{
            margin-top: 1rem;
            -webkit-flex-direction: row;
            flex-direction: row;
            justify-content: space-between;
            li{
                margin: 0 !important;
                width: 49%;
                .btn{  
                    border-radius: 0;
                    padding: .5rem 1.5rem;
                    display: block;
                    &:first-child{
                        margin-bottom: .5rem;
                    }
                }
            }
        }
    }
    section#get-started{
        background-size: cover;
    }
    section#product-how{
        .card{
            margin-bottom: 30px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    #example-ads{
        &.ads .carousel{
            .indicators{
                display: block;
                border: none;
                a{
                    display: block;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 20px;
                    padding: 0;
                    background-color: transparent;
                    span{
                        display: inline-block;
                        margin-right: 20px;
                        &:first-child{font-weight: 700;}
                    }
                    &:hover,&.active{background-color: transparent;color: #54585A;}
                }
            }
            .inner{display: none;}
        }
        &.join .carousel{
            .indicators{
                border: none;
                a{
                    padding: 0;
                    background-color: transparent;
                    span{
                        display: inline-block;
                    }
                    &:hover,&.active{background-color: transparent;color: #54585A;}
                }
            }
        }
    }
    footer{
        .copyright span{
            display: block;
            line-height: 20px;
        }
    }
}