@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

$global-bg: #404041;
$hr-color: #555;

@mixin bg($color){
    background-color: $color;
}

@mixin py($size){
    padding-top: $size;
    padding-bottom: $size;
}

@mixin arrow-down($content,$size,$bg,$cl){
    content: $content;
    position: absolute;
    bottom:-50px;
    left: 50%;
    z-index: 1;
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-left: -50px;
    background-color: $bg;
    color: $cl;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    box-shadow: 5px 5px 10px #000;
}

body{
    background: $global-bg;
    font-family: 'Open Sans', sans-serif;
}

*{
    &::after{
        font-family: FontAwesome;
    }

    &::-webkit-scrollbar-track
    {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
        width: 10px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: #FFF;
        background-image: -webkit-gradient(linear,
                                        40% 0%,
                                        75% 84%,
                                        from(#5acaf4),
                                        to(#1b75bb),
                                        color-stop(.6,#1b75bb))
    }
}

.bg-gray{
    @include bg($global-bg);
}

.bg-white{
    @include bg(#fff);
}

.bg-light-gray{
    @include bg(#f5f5f5);
}

.bg-purple{
    background-color: #584f66;
    color: #fff;
}

.bg-blue{
    background-color: #2c4d9f;
    color: #fff;
}

.btn{
    font-weight: 500;
    padding: .7rem 2rem;
    &.btn-primary:focus{
        color: #fff;
    }
}

nav{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    line-height: 18px;
    width: 100%;
    display: block;
    transition: background .1s ease;
    border-bottom: 1px solid #e5e5e4;
    .navbar-brand{
        img{max-width: 150px;}
    }
}

.page-content{
    background-color: #fff;
}

header{
    position: relative;
    background: url('//www.getpostman.com/img/v2/homepage/postman-hero.svg');
    background-size: cover;
    h1{
        font-size: 45px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 20px;
    }
    h2{
        font-size: 30px;
        font-weight: 100;
        color: #eee;
    }
    .links{
        margin-top: 30px;
    }
    .mask{
        @include py(13rem);
        background: rgba(0,0,0,.1);
    }
    &::after{
        content: "\f103";
        position: absolute;
        bottom:-35px;
        left: 50%;
        z-index: 1;
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-left: -35px;
        background-color: #fff;
        text-align: center;
        line-height: 70px;
        font-size: 30px;
        box-shadow: 3px 3px 5px #8c8c8c;
    }
}

header.sub-page{
    background-image: url('//www.adroll.com/assets/img/product/hero-web-retargeting.jpg');
    .mask{
        padding: 7rem 0;
    }
}

.block{
    @include py(5rem);
    img{max-width: 100%;}
    h1{
        text-transform: capitalize;
        font-size: 2.5em;
        font-weight: 500;
        line-height: 1.2;
    }
    .card-cus{
        text-align: center;
    }
    .img-bidding-demo{
        display: block;
        width: 100%;
        height: 300px;
        background-color: #ccc;
        text-align: center;
        line-height: 300px;
        font-size: 30px;
    }
}

section#product-unique{
    .card-cus{
        margin-bottom: 50px;
        img{max-width: 100px;}
        .img-demo{
            display: inline-block;
            width: 100px;
            height: 100px;
            background-color: #ccc;
            font-weight: 600;
            line-height: 100px;
            text-align: center;
        }
        .card-block{
            h4{
                font-size: 1.5em;
                font-weight: 500;
            }
            p{font-size: 1em;}
        }
    }
}

section#patner{
    background-color: #fff6f2;
    .text{
        color: #4D5157;
        font-size: 22px;
        font-weight: 600;
    }
    .list-logo{
        margin-top: 30px;
        .item{
            max-width: 100%;
            height: 60px;
            width: 215px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: .5;
        }
    }
}

section#get-started{
    padding: 120px 0;
    background-color: #fff;
    background-image: url('../../images/get-started.png');
    background-size: 1145px;
    background-position: right -330px bottom -250px;
    background-repeat: no-repeat;
}

#example-ads{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .carousel{
        .indicators{
            display: table;
            border:1px solid $global-bg;
            a{
                display: table-cell;
                width: 1%;
                text-align: center;
                text-decoration: none;
                color: #54585A;
                background-color: #fff;
                padding: 1rem;
                &:hover,&.active{
                    background-color: $global-bg;
                    color: #eee;
                }
                &:before,&:after{
                    content: none;
                }
                span{
                    display: block;
                }
            }
        }
        .inner{
            margin-top: 30px;
            .item{
                text-align: center;
                .ad-demo{
                    display: block;
                    background-color: #ccc;
                    font-size: 30px;
                    margin: auto;
                    &.ad728x90{
                        width:728px;
                        height: 90px;
                        line-height:90px; 
                    }
                    &.ad300x600{
                        width:300px;
                        height: 600px;
                        line-height:600px; 
                    }
                    &.ad300x250{
                        width:300px;
                        height: 250px;
                        line-height:250px; 
                    }
                    &.ad160x600{
                        width:160px;
                        height: 600px;
                        line-height:600px; 
                    }
                    &.ad320x50{
                        width:320px;
                        height: 50px;
                        line-height:50px; 
                    }
                }
            }
        }
    }
    &.join {
        .carousel{
            .content{
                font-weight: 300;
                h1{
                    font-size: 25px;
                    font-weight: 600;
                }
                h2{
                    font-size: 20px;
                    font-weight: 400;
                }
                h3{
                    font-size: 18px;
                }
            }
        }
    }
}

#term-fqa{
    color: #424242 !important;
    position: relative;
    .nav-fixed{
        // overflow-y: scroll;
        // overflow-x: hidden;
        font-weight: 300 !important;
        ul{
            list-style: none;
            li{
                line-height: 30px;
                a{text-decoration: none;}
            }
        }
    }
    .content{
        hr{border-color: #ccc;}
        article{
            font-weight: 300;
            h1{
                font-size: 40px;
                line-height: 1.3;
            }
            h2{
                font-size: 24px;
                line-height: 1.3em;
            }
        }
    }
}

footer{
    color: #eee;
    line-height: 35px;
    hr{
        border-color: $hr-color;
    }
    .footer-item{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                line-height: 30px;
                &.title{
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    display: inline-block;
                }
                a{
                    color: #eee;
                    font-size: 14px;
                    text-decoration: none;
                    font-family: "Open Sans",sans-serif;
                    &:hover{
                        color: #F26B3A;
                    }
                }
            }
        }
        .social-links{
            li{
                display: inline-block;
                margin-right: 1rem;
                a{
                    font-size: 18px;
                }
            }
        }
    }
}

@import 'responsive_t';
@import 'responsive_m';